.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #d99c29;
  background-image: url("/images/45-degree-fabric-light.png");
}

header div p {
  font-size: 1.5em;
  color: white
}

@media (min-width:1000px) {
  .page-header {
    margin-left: 8%;
    margin-right: 0px;
    margin-top: 120px; 
    height: 400px;
  }
}