/* change default from content-box so padding and border are included in the size of the element*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* style body */
body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* style main */
.container {
  background-color: #f4f1ec;
  width: 90%;
  /* margin: 0 auto; */
}

/* large screen breakpoint */
@media (min-width:1000px) {
  body {
    margin-top: 90px;
    display: flex;
  }
  header, main {
    padding: 3em;
  }
}
